<div class="section page-title bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-md">
        <h1 class="text-center m-b-20">Projects</h1>
        <%= link_to new_project_path, class: 'btn btn-dark' do %>
          Add New Project
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg ml-auto mr-auto breadcrumb-wrapper">
      <div class="breadcrumb-container">
        <%= link_to root_path do %>Back to Home<% end %>
      </div>
      <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th>Title</th>
              <th>Vision</th>
              <th>Description</th>
              <th>User</th>
              <th>Public</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @projects.each do |project| %>
              <%= content_tag :tr, id: dom_id(project), class: dom_class(project) do %>
                  <td><%= project.title %></td>
                  <td><%= project.vision %></td>
                  <td><%= project.description %></td>
                  <td><%= project.user %></td>
                  <td><%= project.public %></td>
                  <td><%= link_to 'Show', project %></td>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
